$primary-color: #000000;           // Black
$secondary-color: lighten(#000000, 20%);  // 20% lighter (gray)
$theme-color: #f8d107;
$icon-color: #0085F6; 
$submit-button: #25d743;
$error-color: #721c24;

// Default font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;


$icon-size-large: 56px;

$layout-breakpoint-small: 550px;