$primary-color: #000000;           // Black
$secondary-color: lighten(#000000, 20%);  // 20% lighter (gray)
$theme-color: #f8d107;
$icon-color: #0085F6; 

// Default font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;

$icon-size-large: 56px;