@import-normalize
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.container {
    max-width: 550px;
    margin: 0 auto;
}