@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './variables';


html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.container {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 3px;
    box-shadow: 1px 0px 87px -9px $primary-color;
    -webkit-box-shadow: 1px 0px 87px -9px $primary-color;
    -moz-box-shadow: 1px 0px 87px -9px $primary-color;
    display: flex;
    flex-direction: column;
}

// Hide input type= number increase buttons

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  font-weight: $font-weight-bold;
}